* {
  box-sizing: border-box;
}

#root {
  margin: 0 0;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: clamp(300px, 800px, 80%);
}

main > input {
  margin-top: 2rem;
}

output {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 12rem;
  align-items: stretch;
  width: clamp(200px, 1200px, 80vw);
  font-family: serif;
  flex-wrap: wrap;
}

output span {
  display: flex;
  font-size: 6rem;
  align-items: center;
  justify-content: center;
}

output span.current {
  border: 5px solid white;
  border-radius: 2px;
}

output span.right {
  background: darkgreen;
}

output span.wrong {
  background: darkred;
}

output span.upcoming {
  opacity: 0.5;
}

label {
  display: flex;
  flex-direction: column;
}

label textarea {
  height: 5rem;
  width: 100%;
}

button.danger {
  background: darkred;
}

button#settings {
  position: absolute;
  top: 5px;
  right: 5px;
}

ul.word-config li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  html {
    font-size: 10px !important;
  } 
}

@media (max-width: 500px) {
  html {
    font-size: 6px !important;
  } 
}

@media (max-width: 300px) {
  html {
    font-size: 3px !important;
  } 
}
