#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  font-size: 16rem;
  text-align: center;
  width: 80%;
  font-family: serif;
}

input.right {
  background: darkgreen;
}

input.wrong {
  background: darkred;
}
